.judul-poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 60px 60px !important;
    color: #333;
}

.btn-outline {
    color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.btn-outline:hover {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.btn-outline:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;
}

.btn-outline:active {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.form-control {
    width: 300px;
    border-color: #dc3545 !important;
}

.form-control:focus {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;
}

table.table th,
table.table td {
    border: 1px solid #000 !important;
}

table.table {
    border: 1px solid #000 !important;
    margin-top: 60px;}

th {
    text-align: center;
}